.root tr:nth-child(even){
  background-color: rgba(0,0,0,.05);
}
.root td{
  vertical-align: top;
  border-top: 1px solid #eceeef;
  padding: 8px;
  font-size: 18px;
}
.hiddenElement{
    display: none;
}