.formgroup{
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 10px;
}
.formgroup label{
    flex: 0 0 20%;
}
.formgroup input{
    border: 1px solid #ddd;
    border-radius : 5px;
    padding: 3px;  
}
.formgroup select{
    border: 1px solid #ddd;
    border-radius : 5px;
    padding: 3px;  
}
.formgroup textarea{
    resize: none;
    width: 182px;
    scroll-snap-points-x: none;
}
.text_tittle_group label{ 
    flex: 0 0 30%;
}
