.root {
  padding: 8px;
  border: none;
  border-radius: 3px;
  width: 150px;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
  background-color: transparent;
}

.active {
  width: 350px;
  border: 1px solid #dddddd;
  background-color: #ffffff;

}

.tableItem {
  border: 0;
}